<a href="https://colab.research.google.com/github/bislamcs3/my-demo-Repsitory/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
#Single Line statement
a=10
print(a)
#Multiple Line statement

b=1+2+3\
+5\
+7+8+\
6+11
print(b)

#for parenthesis()
#{}, [] no explicit
#line continution is necessery
c=(1+2+3
   +4+5)
print(c)
#space seperated
print(a,b,c)

10
43
15
10 43 15

In [15]:
#In python, we don't have explicityly define the variable types
#Assigning
var1=10
print(var1)
#update
var1=14
print(var1)

10
14

In [17]:
#Assigning multiple value in multiple variable
var1,var2,var3,var4=20,20.5,"Python",10
print(var1,var2,var3,var4)
#Assigning Same value to multiple variable
var5=var6=var7=var8="Python"
print(var5,var6,var7,var8)

20 20.5 Python 10
Python Python Python Python

In [20]:
#Numeric literals
#Literal=Constant Value
num1=0b1010
num2=10
num3=0o12
num4=0xA
print(num1)
print(num2)
print(num3)
print(num4)

10
10
10
10

In [21]:
#Float Literal
float1=3.1416; float2=3.5e5
print(float1, float2)

3.1416 350000.0

In [22]:
#complex literal
comp1=3+4j
print(comp1)
print(comp1.real)
print(comp1.imag)

(3+4j)
3.0
4.0

In [23]:
#String Literals
str1='single quoted string'
str2="double quoted string"
str3='''multiple-line string
with tab'''
print(str1)
print(str2)
print(str3)

single quoted string
double quoted string
multiple-line string
with tab

In [24]:
#Boolean Literal
print(0==0)
print(0==1)
print(True)

True
False
True

In [27]:
#Special Literal(null)
#None represents the of absence of value or a null value
a=None
print(a)
var1=None
print(var1)
var1=100
print(var1)

None
None
100

In [37]:
#Everything is an object in python programming
#data types are actually classes and values are instances of the classes
num1=99
#this num1 referes to the object (containing / refering 10)
print(type(num1))
float1=3.1416
print(type(float1))
comp1=3+4j
print(type(comp1))
str1="python is fun"
print(type(str1))
print(type(True))
print(type(None))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>
<class 'NoneType'>

In [85]:
num1=10
print(float(num1))
print(complex(num1))
print("{}".format(num1))
float1=3.1416
print(int(float1))
print("{}".format(float1))
str1="10"
num2=int(str1)
print(num2)
print(type(num2))
print(float(str1))
print(complex(str1))

10.0
(10+0j)
10
3
3.1416
10
<class 'int'>
10.0
(10+0j)

In [56]:
#Implicit type conversion
num1=10
num2=15.5
print(num1+num2)
#Explicit type conversion
num1=10
str1="123"
#print(num1+num2)#Error
print(num1+int(str1))

25.5
133

In [88]:
#String ConCat
str1="123"
str2="234"
num1=10

print(str1+str2)
num2=20
str3="{}".format(num2)
print(str3)
print(type(str3))
print(str1+str2+str3)

123234
20
<class 'str'>
12323420

In [102]:
#Python Output
#print(*objects,seperate=' ';end='\n',......)
print("Line1")
print("Line2")
print("Value=",10)
print("Value=",10,sep='#')
print("Portion1=",10,sep='',end="\t")
print("Portion2")

Line1
Line2
Value= 10
Value=#10
Portion1=10	Portion2

In [127]:
#Python Formatted String
var1,var2=10,20
print(var1)
print(var2)
str1="value1={} and value2={}".format(var1,var2)
print(str1)
print("Value1={1} and value2={0}".format(var1,var2))
print("Value1={key1} and value2={key2}".format(key1=var1,key2=var2))
# how many Zer want to print after decimal point
f1=2.56 #08.5f

print("formatted value:{key:03.5f}".format(key=f1))

10
20
value1=10 and value2=20
Value1=20 and value2=10
Value1=10 and value2=20
formatted value:2.56000