<a href="https://colab.research.google.com/github/bislamcs3/my-demo-Repsitory/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
#Single Line statement
a=10
print(a)
#Multiple Line statement

b=1+2+3\
+5\
+7+8+\
6+11
print(b)

#for parenthesis()
#{}, [] no explicit
#line continution is necessery
c=(1+2+3
   +4+5)
print(c)
#space seperated
print(a,b,c)

10
43
15
10 43 15

In [15]:
#In python, we don't have explicityly define the variable types
#Assigning
var1=10
print(var1)
#update
var1=14
print(var1)

10
14

In [17]:
#Assigning multiple value in multiple variable
var1,var2,var3,var4=20,20.5,"Python",10
print(var1,var2,var3,var4)
#Assigning Same value to multiple variable
var5=var6=var7=var8="Python"
print(var5,var6,var7,var8)

20 20.5 Python 10
Python Python Python Python

In [20]:
#Numeric literals
#Literal=Constant Value
num1=0b1010
num2=10
num3=0o12
num4=0xA
print(num1)
print(num2)
print(num3)
print(num4)

10
10
10
10

In [21]:
#Float Literal
float1=3.1416; float2=3.5e5
print(float1, float2)

3.1416 350000.0

In [22]:
#complex literal
comp1=3+4j
print(comp1)
print(comp1.real)
print(comp1.imag)

(3+4j)
3.0
4.0

In [23]:
#String Literals
str1='single quoted string'
str2="double quoted string"
str3='''multiple-line string
with tab'''
print(str1)
print(str2)
print(str3)

single quoted string
double quoted string
multiple-line string
with tab

In [24]:
#Boolean Literal
print(0==0)
print(0==1)
print(True)

True
False
True

In [27]:
#Special Literal(null)
#None represents the of absence of value or a null value
a=None
print(a)
var1=None
print(var1)
var1=100
print(var1)

None
None
100